* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;              
  background-color: #ffffff; 
  font-family: Arial, sans-serif;
  overflow: hidden;          
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  align-items: center;       
  justify-content: space-between;
  padding: 16px;
}

.header__burger {
  background: none;
  border: none;
  font-size: 24px;
  color: #D9D9D9;
  cursor: pointer;
  padding: 20px;
}

.header__logo {
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;                   
  transform: translate(-50%, -50%);
}

.header__auth-buttons {
  display: flex;
  flex-direction: column;    
  gap: 6px;
}

.header__btn {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #D9D9D9;
  border-radius: 24px; 
  padding: 6px 15px;   
  text-align: center;
}

main {
  flex: 1;                 
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;      
  padding: 0 16px;
}

.hero {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__subtitle {
  border: 1px solid #C2CDE8;    
  background-color: #F7F7F7;    
  color: #3C63C6;               
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 14px;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 14px;
  line-height: 1;
}

.hero__paragraph {
  font-size: 14px;
  margin-bottom: 30px;
}

.hero__button {
  width: 90%;                
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #3C63C6,
    #1D3060
     );
  border: 1px solid #6988D5;
}

.socials {
  margin-top: 60px;
}

.socials__links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials__logo {
  width: 24px;
  height: 24px;
}

.footer {
  padding: 16px;
  text-align: center;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.footer__link {
  text-decoration: none;
  font-size: 12px;
  color: #555555;
}

